<!DOCTYPE html>
<html lang="en">
<% var username = user_id; %>
<% var email = email; %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
        <%= shortUrl %> | <%= urls[shortUrl].url %> | <%= urls[shortUrl].date %> | <%= urls[shortUrl].num_visit %> | <%= urls[shortUrl].num_unique_visit %>

        <form method="POST" action="/urls/<%=shortUrl%>">
          <input id="URLToUpdate" type="url" name="URLToUpdate" placeholder="<%= urls[shortUrl].url %>">
          <input type="submit" value="Change URL"> 
        </form>

        <form method="POST" action="/urls/<%=shortUrl%>/delete">
          <input type="submit" value="Delete">
        </form>
</body>
</html>
